In [2]:
import pandas as pd
print pd.__version__

0.18.0

### Reference
http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [3]:
url = 'https://raw.githubusercontent.com/cs109/2014_data/master/diamonds.csv'
diamonds = pd.read_csv(url, index_col=0) # Column to use (1st column) as the row labels of the DataFrame
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

### Select a column

In [6]:
carat = diamonds.carat # diamonds['carat']
carat.head()

1    0.23
2    0.21
3    0.23
4    0.29
5    0.31
Name: carat, dtype: float64

In [8]:
diamonds[['carat', 'price']].head()

   carat  price
1   0.23    326
2   0.21    326
3   0.23    327
4   0.29    334
5   0.31    335

### Select a row

In [17]:
diamonds[0:1] # diamonds[0] will throw a error

   carat    cut color clarity  depth  table  price     x     y     z
1   0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43

### Select by label
Use .loc[row_index_range, col_index_range]

In [36]:
# select a single row
diamonds.loc[1]

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 1, dtype: object

In [39]:
# select a single column
diamonds.loc[:, 'price'].head()

1    326
2    326
3    327
4    334
5    335
Name: price, dtype: int64

In [20]:
diamonds.loc[[1, 3, 5], ['carat', 'cut']]

   carat    cut
1   0.23  Ideal
3   0.23   Good
5   0.31   Good

In [27]:
# Filter on rows and select columns
diamonds.loc[(diamonds.carat >= 4.0) & (diamonds.carat <= 5.0), ['carat', 'price']]

       carat  price
25999   4.01  15223
26000   4.01  15223
26445   4.00  15984
27131   4.13  17329
27631   4.50  18531

### Select by position
Use .iloc[row_pos, col_pos]

In [32]:
# select a single row
diamonds.iloc[0] # first row as Series

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table         55
price        326
x           3.95
y           3.98
z           2.43
Name: 1, dtype: object

In [40]:
# select a single column
diamonds.iloc[:, 0].head()

1    0.23
2    0.21
3    0.23
4    0.29
5    0.31
Name: carat, dtype: float64

In [41]:
diamonds.iloc[range(8), [0,2,3]]

   carat color clarity
1   0.23     E     SI2
2   0.21     E     SI1
3   0.23     E     VS1
4   0.29     I     VS2
5   0.31     J     SI2
6   0.24     J    VVS2
7   0.24     I    VVS1
8   0.26     H     SI1

### Select a random sample

In [43]:
diamonds.sample(frac = 0.7, replace = False, random_state=123456).head()

       carat      cut color clarity  depth  table  price     x     y     z
1278    0.71    Ideal     G     VS1   62.4   57.0   2950  5.68  5.73  3.56
22476   1.55  Premium     G     VS2   60.5   60.0  10499  7.49  7.46  4.52
40810   0.51     Good     E     SI1   63.6   59.0   1170  5.13  5.06  3.24
22774   1.01    Ideal     D    VVS2   60.6   56.0  10797  6.53  6.48  3.94
41415   0.47    Ideal     F     VS2   60.7   56.1   1226  5.02  5.08  3.07

### Generate training and test data
With the help of sklearn

In [47]:
from sklearn.cross_validation import train_test_split

In [49]:
train, test = train_test_split(diamonds, test_size = 0.2)

In [52]:
print train.shape
print test.shape

(43152, 10)
(10788, 10)